---
import { ExternalLink } from "lucide-astro";

interface Props {
	text: string;
	href: string;
}

const { text, href } = Astro.props;
---

<div>
	<a
		href={href}
		target="_blank"
		class="inline-flex items-center px-3 py-3 text-lg bg-transparent border-4 border-green-500 rounded-full text-white hover:bg-green-500 hover:text-black glow"
	>
		{text}
		<ExternalLink class="ml-3" />
	</a>
</div>

<style>
	.glow {
		text-shadow:
			0 0 2px white,
			0 0 4px white;
	}

	.glow:hover {
		text-shadow:
			0 0 2px black,
			0 0 4px black;
	}
</style>
