---
import { ExternalLink } from "lucide-astro";

interface Props {
	text: string;
	href: string;
}

const { text, href } = Astro.props;
---

<a
	href={href}
	target="_blank"
	class="external-link-button inline-flex items-center px-3 py-3 text-lg bg-transparent border-2 border-white rounded-full text-white hover:bg-[#41ff00] hover:border-[#41ff00] hover:text-black"
>
	{text}
	<ExternalLink class="ml-3" />
</a>

<style>
	.external-link-button {
		text-shadow:
			0 0 2px white,
			0 0 4px white;
	}
	.external-link-button:hover {
		text-shadow:
			0 0 2px black,
			0 0 8px black,
			0 0 10px black;
	}
</style>
