<nav class="flex justify-between items-center px-4 py-4 md:px-6 md:py-4">
	<a href="/" class="text-4xl md:text-5xl font-bold title">Siddharth Rao</a>
	<ul class="md:flex gap-7 text-lg font-semibold tracking-wide ml-10">
		<li><a href="/">&ltHome/&gt</a></li>
		<li><a href="/experience">&ltExperience/&gt</a></li>
		<li><a href="/projects">&ltProjects/&gt</a></li>
		<li><a href="/education">&ltEducation/&gt</a></li>
		<li><a href="/contact">&ltContact/&gt</a></li>
	</ul>
	<ul
		class="menu hidden flex-col gap-7 text-lg font-semibold tracking-wide ml-10 absolute top-16 left-0 right-0 bg-white border-t border-gray-300 p-4 md:hidden"
	>
		<li><a href="/">&ltHome/&gt</a></li>
		<li><a href="/experience">&ltExperience/&gt</a></li>
		<li><a href="/projects">&ltProjects/&gt</a></li>
		<li><a href="/education">&ltEducation/&gt</a></li>
		<li><a href="/contact">&ltContact/&gt</a></li>
	</ul>
</nav>
<hr class="mt-3 mb-10 crt" />

<style>
	.crt {
		border: none;
		height: 3px;
		background: linear-gradient(
			to right,
			rgba(200, 255, 181, 0.5) 0%,
			rgba(65, 255, 0, 0.5) 50%,
			rgba(211, 255, 196, 0.5) 100%
		);
		box-shadow: 0 0 5px rgba(65, 255, 0, 0.7);
	}

	.title {
		color: aqua;
		text-shadow:
			0 0 2px aqua,
			0 0 4px aqua;
	}
</style>
