<nav class="navbar scanlines">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/experience">Experience</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/education">Education</a></li>
	</ul>
</nav>

<style>
	.navbar {
		padding: 1rem;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: black; /* Ensure visibility of scanlines */
	}
	.navbar ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}
	.navbar li {
		margin: 0 3rem;
	}
	.navbar a {
		color: #fff;
		text-decoration: none;
		font-size: 1.4rem;
	}
	.navbar a:hover {
		text-decoration: underline;
	}
</style>
