<nav class="flex justify-between items-end">
	<a href="/" class="text-5xl font-bold text-cyan-300">Siddharth Rao</a>
	<ul
		class="mr-6 list-none flex gap-7 [&>li>a]:no-underline text-lg font-semibold tracking-wide"
	>
		<li><a href="/">&ltHome/&gt</a></li>
		<li><a href="/experience">&ltExperience/&gt</a></li>
		<li><a href="/projects">&ltProjects/&gt</a></li>
		<li><a href="/education">&ltEducation/&gt</a></li>
		<li><a href="/contact">&ltContact/&gt</a></li>
	</ul>
</nav>
<hr class="mt-3 mb-10 crt" />

<style>
	.crt {
		border: none;
		height: 3px;
		background: linear-gradient(
			to right,
			rgba(200, 255, 181, 0.5) 0%,
			rgba(65, 255, 0, 0.5) 50%,
			rgba(211, 255, 196, 0.5) 100%
		);
		box-shadow: 0 0 5px rgba(65, 255, 0, 0.7);
	}
</style>
