---
interface Props {
	href: string;
	icon: string;
}

const { href, icon } = Astro.props;
---

<a href={href} target="_blank">
	<svg viewBox="0 0 24 24" , fill="#41ff00" class="w-10 h-10 mt-5 mr-4">
		<path d={icon}></path>
	</svg>
</a>
