---
interface Props {
	href: string;
	icon: string;
}

const { href, icon } = Astro.props;
---

<a href={href} target="_blank" class="social-icon">
	<svg viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10">
		<path d={icon}></path>
	</svg>
</a>

<style>
	.social-icon svg {
		fill: white;
		transition: fill 0.3s;
	}
	.social-icon svg:hover {
		fill: #41ff00;
	}
</style>
