---
import NavBar from "../components/NavBar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="crt min-h-screen">
		<NavBar />
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-size: 16px;
	}
	body {
		font-family: "Courier New", Courier, monospace;
		margin: 0;
		padding: 0;
	}
	.crt {
		background-color: black;
		color: #41ff00;
		text-shadow:
			0 0 2px #41ff00,
			0 0 4px #41ff00;
		position: relative;
	}
</style>
