---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - Siddharth Rao's Portfolio">
	<main class="m-20">
		<h1 class="text-2xl">Hello! My Name is</h1>
		<h2 class="text-3xl"></h2>
		<h3 class="text-8xl font-bold title">Siddharth Rao</h3>
		<p class="text-3xl mt-5">Software Engineer & Developer</p>
		<p class="text-lg mt-0">Full Stack, Robotics, Machine Learning, and More</p>
	</main>
</Layout>

<style>
	.title {
		color: aqua;
		text-shadow:
			0 0 2px aqua,
			0 0 4px aqua;
	}
</style>
