---
import axios from "axios";
import ProjectSection from "../components/ProjectSection.astro";
import Layout from "../layouts/Layout.astro";
import type { Project } from "../models/projects";

const projectsReq = await axios.get("http://localhost:3000/projects");
const projectsData: Project[] = projectsReq.data;
---

<Layout title="Projects - Siddharth Rao's Portfolio">
	<main
		class="flex flex-col items-start justify-start pt-32 p-12 max-w-4xl mx-auto"
	>
		<h1 class="title text-5xl font-extrabold tracking-wide">PROJECTS</h1>
		<section class="mt-12">
			{
				projectsData.map((project) => {
					return (
						<ProjectSection name={project.name} bulletPoints={project.bulletPoints} />
					);
				})
			}
		</section>
	</main>

	<style>
		.title {
			color: #e5e7eb;
			text-shadow:
				0 0 4px rgba(255, 255, 255, 0.4),
				0 0 8px rgba(255, 255, 255, 0.2);
		}
	</style>
</Layout>
